<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nousguide.android.tv">

    <uses-feature android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".screen.core.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback.RedBull"
        android:banner="@drawable/ic_banner">

    <activity
        android:name="com.nousguide.android.tv.screen.core.MainActivity"
        android:theme="@style/Theme.Leanback.RedBull"
        android:configChanges="keyboard|keyboardHidden|navigation"
        android:launchMode="singleTop"
        android:screenOrientation="landscape"
        android:exported="true">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        </intent-filter>

    </activity>
    </application>

</manifest>